.entradas {
  width: inherit;
  @include display-flex(column, flex-start, flex-start);
  & > * + * {
    margin-top: 1rem; /* 44 / 16 */
  }
  .btn-enviar,
  .btn-secundario {
    align-self: flex-end;
    @include cabecera-4();
    padding: 1.125rem 2rem; /* 18 / 16 , 32 / 16 */
    background-color: var(--col-primario);
    color: var(--col-neu-05);
    border-radius: 1rem; /* 16 / 16 */
    border: none;
  }
  .btn-enviar {
    &.btn-enviar__desabilitado {
      background-color: var(--col-fon-primario);
      color: var(--col-text-ligero);
      pointer-events: none;
    }

    &.btn-enviar__eliminar {
      background-color: var(--col-text-enlace);
      color: var(--col-neu-05);
    }
  }
  .btn-secundario {
    background-color: var(--col-fon-primario);
    color: var(--col-text-oscuro);
  }
}
.entradas__ocultar {
  display: none;
}
