.informacion {
  width: 80%;
  & > * + * {
    margin-top: 2rem; /* 32 / 16 */
  }

  .item-producto {
    padding: 1rem; /* 16 / 16 */
    width: 100%;
    @include display-flex(row, space-between, center);
    border-bottom: 1px solid var(--col-primario);

    &.item-producto__ultimo {
      border: none;
    }

    .subtitulo-item-producto {
      width: 80%;
    }

    .btn-enviar-item-producto img {
      width: 35%;
    }

    .imagen-item-producto {
      width: 75px;
      height: 75px;
    }
    .btn-enviar-item-producto {
      width: auto;
      height: auto;
    }
  }
}
